@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* Custom highlight color when a user selects text */
::selection {
  background-color: #ffffff; /* white */
  color: #18181b; /* zinc-900 */
}